@keyframes arrowMove1{
    from{
      transform: translate(95%, 30%);
      opacity: 0%;
    }
    to{
      transform: translate(95%,55%);
      opacity:100%;
    }
  }
#caseBotaoScroll{
  width: 100%;
}
  #botaoScroll{
    color:white;
    width: 100px;
    height: 60px;
    cursor:pointer;
    animation: arrowMove1 2s infinite;
  }
  
  #botaoScroll:hover{
    color:#EB5F22;
  }
  
  @media screen and (min-width:375px){
    @keyframes arrowMove1{
      from{
        transform: translate(135%, 30%);
        opacity: 0%;
      }
      to{
        transform: translate(135%,55%);
        opacity:100%;
      }
    }
  }

  @media screen and (min-width:425px){
    @keyframes arrowMove1{
      from{
        transform: translate(160%, 30%);
        opacity: 0%;
      }
      to{
        transform: translate(160%,55%);
        opacity:100%;
      }
    }
  }
  @media screen and (min-width:768px){
    @keyframes arrowMove1{
      from{
        transform: translate(332%, 30%);
        opacity: 0%;
      }
      to{
        transform: translate(332%,55%);
        opacity:100%;
      }
    }
  }
  @media screen and (min-width:768px){
    @keyframes arrowMove1{
      from{
        transform: translate(470%, 30%);
        opacity: 0%;
      }
      to{
        transform: translate(470%,55%);
        opacity:100%;
      }
    }
  }

  @media screen and (min-width:1349px){
    @keyframes arrowMove1{
      from{
        transform: translate(630%, 30%);
        opacity: 0%;
      }
      to{
        transform: translate(630%,55%);
        opacity:100%;
      }
    }
  }