#caixa {
    color: white;
    background-blend-mode:lighten;
    padding: 10px;
    font-family:Opens Sans;
}

#caixaIcon {
    left: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;


}

.iconGitLab,
.iconLinkedin,
.iconGitHub,
.iconMail {

    border: 1px solid #26292e;
    border-radius: 100%;
    margin: 15px;
    width: 19px;
    height: 19px;
    transition: 1000ms;
    color: white;

}

.iconGitLab:hover,
.iconLinkedin:hover,
.iconGitHub:hover,
.iconMail:hover {
    border: 1px solid #EB5F22;
    left: 10%;
    transform: translate(5%, 0%);
    transition: 400ms;
}

a{
    text-decoration: none;
    font-family:Opens Sans;
}
#tnStrong {
    color: #EB5F22;
    text-decoration: none;
    font-family:Opens Sans;
}

#developed {
    display: relative;
    text-align: right;
    text-decoration: none;
    margin-right: 35px;
    font-family:Opens Sans;
}

#copy {

    text-align: left;
    margin-left: 35px;
    margin-bottom: -3%;
    font-family:Opens Sans;
}

#fraseFooter {
    color: white;
    text-decoration: none;
    margin-top: 1.5%;
    font-family:Opens Sans;
    font-size: 19px !important;;
    align-items: center;
    justify-content: center;
    display: flex;

}