#caixa{
    color:white;
    background-color:#26292e !important; 
    padding:10px;

}
#caixaIcon{
    left:50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding:10px;
    


}
    .iconGitLab,
    .iconLinkedin,
    .iconGitHub,
    .iconMail
    {
        
        border: 1px solid #26292e;
        border-radius: 100%;
      margin: 15px;
        width:19px;
        height: 19px;
        transition: 1000ms;
        
        
    }
    .iconGitLab:hover,
    .iconLinkedin:hover,
    .iconGitHub:hover,
    .iconMail:hover
    {
     border:1px solid #EB5F22;
     left:10%;
     transform: translate(5%,0%);
     transition: 400ms;
    }
        
 #tnStrong{
 color: #EB5F22;
 
 }
 #developed{
    display: relative;
    text-align: right;
    margin-right: 35px;
 }

 #copy{
    
    text-align:left;
    margin-left:35px;
    margin-bottom: -3%;

 }
 #fraseFooter{
   margin-top: 1.5%;
    align-items: center;
    justify-content: center;
    display: flex; 
    
}