@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

#fundo{
  background-color: #000000CC;
}
img{
  width: 20px;
  display:inline;
}

nav{
  margin-top: 30px;
}

.marca {
  padding: 30px;
  font-size: 22px;
  font-weight: 900;
  display: inline;
  list-style-type: none;


}
.marca :hover{
  color:#EB5F22
}

.links {

  display: inline;
  list-style-type: none;
  left:600px;
  position: relative;
  margin-left: 36px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 17px;

}

a {

  color: white;
  text-decoration: none;
  text-transform: uppercase;


}

.links a:hover,
.links a:focus {
  border-bottom: 1px inset #EB5F22;
  padding-bottom: 10px;
  color: #EB5F22;

}