html {
  scroll-behavior: smooth;
}

#fundo {
  background-color: #000000CC;
}

#logo {
  width: 20px;
  display: inline;
}

nav {
  margin-top: 30px;
  padding-top: -40px!important;
  position: fixed;
  z-index: 1;
  width: 100%;
}
#menu{
  color:white;
}

.marca {
  padding: 30px;
  font-size: 22px;
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  display: inline;
  list-style-type: none;
}

.marca :hover {
  color: #EB5F22;
  cursor: pointer;
}

.links {
  display: inline;
  list-style-type: none;
  color: white;
  text-decoration: none;
  left: 600px;
  position: relative;
  margin-left: 36px;
  font-family: Courier, monospace;
  font-size: 17px;

}



.links a:hover,
.links a:focus {
  border-bottom: 1px inset #EB5F22;
  padding-bottom: 10px;
  color: #EB5F22;
  cursor: pointer;
}