html {
  scroll-behavior: smooth;
}

#fundo {
  background-color: #000000CC;
}

#logo {
  width: 20px;
  display: inline;
}

nav {
  margin-top: 30px;
<<<<<<< HEAD
  margin-left: -5%;
  text-align: center;
=======
>>>>>>> ee6535e8ef94df94c7052a168b307e96ea5f6c0a
  padding-top: -40px!important;
  position: fixed;
  z-index: 1;
  width: 100%;
}
#menu{
  color:white;
}

.marca {
  padding: 30px;
  font-size: 170%;
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-family:Opens Sans;
  display: inline;
  list-style-type: none;
}

.marca :hover {
  color: #EB5F22;
  cursor: pointer;
}
#linkBlog{
  color:#EB5F22!important;
}
#linkBlog:hover{
 color:white !important;
}

.links {
  display: inline;
  list-style-type: none;
  color: white;
  text-decoration: none;
<<<<<<< HEAD
  position: relative;
  font-family: Courier, monospace;
  font-size: 100%;

}
=======
  left: 600px;
  position: relative;
  margin-left: 36px;
  font-family: Courier, monospace;
  font-size: 17px;

}


>>>>>>> ee6535e8ef94df94c7052a168b307e96ea5f6c0a



.links a:hover,
.links a:focus {
  border-bottom: 1px inset #EB5F22;
  padding-bottom: 10px;
  color: #EB5F22;
  cursor: pointer;
}