#fundo {

    background-color: #2f3238 !important;

}
.fundoNav{
    background-color: #000000CC;
    margin:-3%;
    
    padding: 0;
    position: fixed;
    width: 101.7%;
    height: 130px;
    
    align-items:center;
    
    display: flex;
   
}

h2 {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;

}


.linhaTitulo {
    border-bottom: 4px solid #EB5F22;
    position: sticky;
    height: 4px;
    width: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1000ms;
}

.caixaTitulo {
    width: 100% !important;
    padding-bottom: 3%;


}

.caixaTitulo:hover {
    .linhaTitulo {
        width: 300px;
        transition: 500ms linear;
    }
}

p {
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: "Opens Sans", "Helvetica Neue", ;
}

.container {

    display: flex;


}

.linguagens {

    width: 255px;
    height: 30px;
    background-color: #EB5F22;
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
    background-size: 1rem 1rem;
    margin: 10px;
    border-radius: 5px;
    font-family: "Opens Sans", "Helvetica Neue", ;
    align-content: center;
    text-align: center;
    color: white;

}

#empresa {

    padding-top: 10%;
}

.logoEmpresa {

    width: 150px;
    padding: 30px;
    margin-right: 100px;
    transform: translate(50%, -10%);
    display: inline;
    transition: 1000ms;
}

.logoEmpresa:hover {

    transition: 400ms;
    transform:translate(50%, -20%);
}