

#fundoSobre {
    margin-top: -150px;
    transform: rotate(3.142rad);
}

h2 {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;

}

.linhaTitulo {
    border-bottom: 4px solid #666666 !important;
    position: sticky;
    height: 4px;
    width: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1000ms;
}

.caixaTitulo {
    width: 100% !important;
   

}
#caixaTituloSobre{
    transform: translateY(-50%);
}
#sobreMim{
    font-size:30px;
    margin-top: 6%;
}
#caseTextSobre{
    transform:translateY(-200%);
    margin: 40px;
}
#textSobre{
    color:white;
    font-family:Opens Sans;
}
#caseSobre {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    margin-top: -5%;
}

#caseTxt {
    display: block;

}

#txtSobre {
    width: 400px;
    font-size: 17px;
    color: white;
    text-align: left;
    font-family: "Opens Sans", "Helvetica Neue", ;
    color: #666666;
}

#caseEmpresas {
    height: 0;

    display: flex;
    margin-left: -15%;
    margin-top: 6%;
}

.logoEmpresa {
    width: 110px;
    
    
    border-radius: 30%;
    
   

    transition: 1000ms;
}

