
@media screen and (max-width:600px) {
 #fundo{
    width: 100%;
 }
    h1 {
        
        text-align: center;
    }

    h3 {
        font-size: x-large;
        text-align: center;
    }

   

    #caixaFoguete, #foguete{
        visibility: hidden;
    }
}
