@media screen and (min-width:320px) {
    .portfolioBox {
        margin-left: -100px;
    }
}

@media screen and (min-width:375px) {
    .portfolioBox {
        margin-left: -64px;
    }
}

@media screen and (min-width:425px) {
    .portfolioBox {
        margin-left: -41px;
    }
}

@media screen and (min-width:768px) {
    .portfolioBox {
        margin-left: 10px;
        transform: translateX(-10%);
    }

    .pagination {
        transform: translateX(-1.5%);
    }
}